<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dabee.emergencymedicalservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_icon3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon3_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimalMedicalService"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".KakaoMap"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- kakao Map 네이티브 앱 키 : 카카오개발자 사이트에서 키 발급 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="142c4dcdf0f808a1443d9af7c8f23360" />
    </application>

</manifest>